@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ruda:600,700,800&display=swap);

:root {
	--vw: 0.06944444;
}

*,
*::after,
::before {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: Ruda, sans-serif;
	background-color: #242427;
	color: #fff;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
	font-weight: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

/*Header*/

.header {
	margin-block: 36px;
	margin-inline: clamp(30px, 130vw * var(--vw), 160px) clamp(30px, 103vw * var(--vw), 133px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Roboto, sans-serif;
}

.logo {
	padding-left: 8px;
	border-left: 1px solid #D95583;
}

.logo__title {
	font-size: 24px;
}

.logo__text {
	font-size: 17px;
}

.menu {
	display: flex;
	column-gap: clamp(30px, 90vw * var(--vw), 105px);
	font-size: 1,125rem;
}

@media (max-width: 474.98px){
	.menu {
		flex-direction: column;
		row-gap: 15px;
	}
}

.menu__item {
	transition: all .3s ease;
}

.menu__item:hover {
	color: #F2CC07;
	box-shadow: 0 0 9px 3px;
}