@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ruda:600,700,800&display=swap);

:root {
	--vw: 0.06944444;
}

*,
*::after,
::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: Ruda, sans-serif;
	background-color: #242427;
	color: #fff;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
	font-weight: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

/*Header*/

.header {
	position: fixed;
	width: 100%;
	margin-block: 36px;
	padding-inline: clamp(30px, 130vw * var(--vw), 160px) clamp(30px, 103vw * var(--vw), 133px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Roboto, sans-serif;
	z-index: 100;
}

.logo {
	padding-left: 8px;
	border-left: 1px solid #D95583;
}

.logo__title {
	font-size: 24px;
}

.logo__text {
	font-size: 17px;
}

.menu {
	display: flex;
	column-gap: clamp(30px, 115vw * var(--vw), 125px);
	font-size: 1,125rem;
}

@media (max-width: 474.98px){
	.menu {
		flex-direction: column;
		row-gap: 15px;
	}
}

.menu__item {
	transition: all .3s ease;
}

.menu__item:hover {
	color: #F2CC07;
	box-shadow: 0 0 9px 3px;
}

/*Preview*/

.preview {
	position: relative;
	display: flex;
	padding-left: clamp(30px, 127vw * var(--vw), 132px);
	padding-block: 294px 280px;
	font-family: Roboto, sans-serif;
}

.preview__title {
	margin-bottom: 102px;
	font-weight: 700;
	font-size: 48px;
	background: linear-gradient(143.50deg, rgb(0, 58, 206), rgb(206, 0, 148));
	-webkit-background-clip:
		text;
	-webkit-text-fill-color:
		transparent;
	background-clip:
		text;
}

.preview__btn {
	width: 200px;
	padding-block: 19px 18px;
	font-weight: 200;
	font-size: 20px;
	color: #fff;
	background: linear-gradient(135.00deg, rgb(83, 73, 143) 0%, rgb(217, 85, 131) 100%);
}

.preview__pic {
	position: absolute;
	top: 0;
	left: 23%;
	z-index: 2;
}

.right-side {
	position: absolute;
	top: 9%;
	right: -10%;
	z-index: -1;
}

.preview__number {
	font-weight: 200;
	font-size: clamp(350px, 490vw * var(--vw), 500px);
	color: rgba(132, 132, 132, 0.5);
}

@media (max-width: 990.98px){

	.preview {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-block: 0;
		padding-left: 0;
		margin-bottom: 123px;
	}

	.preview__left-side {
		order: 2;
		text-align: center;
	}

	.preview__bg {
		order: 1;
	}
	
	.preview__pic {
		position: static;
	}

}

/*About*/

.about {
	margin-bottom: 123px;
	padding-inline: clamp(30px, 258vw * var(--vw), 269px) clamp(30px, 152vw * var(--vw), 160px);
}

.about__text {
	font-weight: 700;
	font-size: 30px;
}

.about__text:not(:last-child) {
	margin-bottom: 70px;
}

.first-letter::first-letter {
	color: #FF0000;
}

@media (max-width: 767.98px){
	
	.about__text {
		font-size: 20px;
	}

}