@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ruda:600,700,800&display=swap);

*,
*::after,
::before {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: Ruda, sans-serif;
	background-color: #242427;
	color: #fff;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
	font-weight: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

/*Header*/

.header {
	margin-block: 36px;
	margin-inline: 130px 103px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Roboto, sans-serif;
}

.logo {
	padding-left: 8px;
	border-left: 1px solid #D95583;
}

.logo__title {
	font-size: 24px;
}

.logo__text {
	font-size: 17px;
}

.menu {
	display: flex;
	column-gap: 90px;
	font-size: 18px;
}

.menu__item {}